scipy==1.11.4
numpy==1.26.2
matplotlib==3.8.2
ultralytics==8.0.146
dill==0.3.7

# llm_gen
accelerate==0.33.0
aiohappyeyeballs==2.3.5
aiohttp==3.10.2
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
async-timeout==4.0.3
attrs==24.2.0
blinker==1.8.2
bitsandbytes==0.43.3
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
dataclasses-json==0.6.7
exceptiongroup==1.2.2
filelock==3.13.1
# Flask==3.0.3
frozenlist==1.4.1
fsspec==2024.2.0
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.5
idna==3.7
importlib_metadata==8.2.0
itsdangerous==2.2.0
Jinja2==3.1.3
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.2.29
langchain-text-splitters==0.2.2
langsmith==0.1.98
MarkupSafe==2.1.5
marshmallow==3.21.3
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
networkx==3.2.1
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
orjson==3.10.7
packaging==24.1
pillow==10.2.0
psutil==6.0.0
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.8.0
PyMySQL==1.1.1
PyYAML==6.0.1
regex==2024.7.24
requests==2.32.3
safetensors==0.4.4
scikit-learn==1.5.1
sniffio==1.3.1
SQLAlchemy==2.0.32
sympy==1.12
tenacity==8.5.0
threadpoolctl==3.5.0
tokenizers==0.19.1
# torch==2.4.0+cu118
# torchaudio==2.4.0+cu118
# torchvision==0.19.0+cu118
tqdm==4.66.5
transformers==4.43.4
triton==3.0.0
typing-inspect==0.9.0
typing_extensions==4.9.0
urllib3==2.2.2
Werkzeug==3.0.3
yarl==1.9.4
zhipuai==2.1.4.20230806
zipp==3.20.0
modelscope==1.17.1
tiktoken==0.7.0
bitsandbytes==0.43.3

# ocr
terminaltables==3.1.10
addict==2.4.0
lmdb==1.4.1
nltk==3.8.1
albumentations==1.3.1

# dbnetpp
tensorboardX==2.6.2.2
anyconfig==0.13.0
munch==4.0.0
shapely==2.0.2
pyclipper==1.3.0.post5
gevent==23.9.1
gevent-websocket==0.10.1
flask==3.0.0
imgaug==0.4.0
